body{
/* 	background-color:black; */
}
/* Your CSS Code here. */
.box-1{
  border: 1px solid black;
}
.box-2{
  border: 15px solid blue;
  margin:20px;
}
.box-3{
	padding:50px;
	background-color:lightblue;
}
.box-4{
	width:300px;
	border: 1px solid black;
}